// Style for victory pop in
.victoryCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 40px;
  width: 90%;
  max-width: 600px;
  left: 200%;
  padding: 2rem 1rem;
  gap: 2rem;
  background: $colorBlue;
  border-radius: 10px;
  box-shadow: 5px -5px 0 0 $colorDanger, 0 0 50px 5px $colorDark;
  overflow: hidden;
  @include sizeNoMobile {
    top: 10%;
    padding: 2rem 2rem;
  }

  &Title {
    width: 100%;
    text-align: center;
    font-size: 2rem;
    @include sizeNoMobile {
      font-size: 2.8rem;
    }
  }
  &Block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    @include sizeNoMobile {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      gap: 0;
    }
    &Gif {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      max-height: 200px;
      max-width: 400px;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 5px 5px 0 0 $colorBlue;
      @include sizeNoMobile {
        max-height: unset;
        width: 50%;
      }
      &Image {
        width: 100%;
      }
      &Subtitle {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        padding: 0.5rem;
        font-size: 1.1rem;
        &Logo {
          width: 60px;
          opacity: 0.8;
        }
      }
    }
    &Scores {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      @include sizeNoMobile {
        width: 50%;
      }
      &YourScore {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 1rem 0;
        gap: 1rem;
        @include sizeNoMobile {
          padding: 0;
        }
        &Text {
          font-size: 1.8rem;
        }
        &Time {
          font-size: 2.2rem;
        }
      }
      &BestTimes {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 2rem 0;
        gap: 1.5rem;
        &Title {
          width: 100%;
          font-size: 1.8rem;
        }
        &Container {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 100%;
          gap: 0.8rem;
          &Line {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 100%;
            gap: 1rem;
            &Ranking {
              width: 20%;
              font-size: 1.8rem;
            }
            &Score {
              width: 25%;
              font-size: 2.4rem;
            }
            &Time {
              width: 35%;
              font-size: 1.6rem;
              font-style: italic;
            }
          }
        }
      }
    }
  }
  &Button {
    background: $colorDark;
    &:hover {
      background: $colorDark;
    }
  }
}
.revealMessage {
  animation: leftSwipe 500ms 500ms ease-in-out both;
}
.closeMessage {
  animation: leftSwipe 500ms 0ms reverse ease-in-out both;
}
