// Keyframes Styles

// Swithing Card
@keyframes switchingCard {
  0% {
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    transform: translateX(-80%);
    opacity: 0;
  }
}

// Left Swipe
@keyframes leftSwipe {
  0% {
    left: unset;
    opacity: 0;
    transform: scale(0);
  }
  100% {
    left: unset;
    opacity: 1;
    transform: scale(1);
  }
}

// Progress bar
@keyframes barInProgress {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: translateX(1);
  }
}
